@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

main {
    height: 100vh;
    /* background-color: #fffacd; */
    /* border: 5px solid green; */
}

img {
    width: 100%;
    /* height: auto; */
}

.container {
    /* height: 100vh; */
    /* width: 100%; */
    /* max-width: 90%; */
    /* margin: 50px auto; */
    /* border: 2px solid black; */
    padding: 50px 0;
    background-color: var(--pale-blue);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-shadow: 0 10px 35px hsla(0, 0%, 42%, 0.5);
    position: relative;
}

.card__wrapper {
    display: flex;
    justify-content: center;
}

.card {
   width: 400px;
   /* margin: 80px auto; */
   text-align: center;
   overflow: hidden;
   /* border-collapse: separate; */
   perspective: 1px;
   border-radius: 8px;
   /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
}

.card__bg {
    background: url('../images/illustration-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.card__description {
    padding: 30px;
    background-color: #fff;
}

.card__plan {
    margin: 30px 0;
    padding: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 244, 244, 0.61);
    border-radius: 8px;
}

.plan__text {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    line-height: 22px;
}

.card__plan .bold {
    font-weight: 600;
}

.card__plan .light {
    color: darkgray;
}

.card__plan a {
    font-weight: 600;
    align-self: center;
    margin-left: auto;
}

.card__plan a:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.678);
}

.card .btn {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    /* border: 2px solid red; */
    border-radius: 8px;
    color:hsla(0, 0%, 42%, 0.89);
    cursor: pointer;
}

a.proceed.btn {
    background-color: var(--bright-blue);
    color: rgb(255, 255, 240);
}

a.proceed:hover {
    background-color: hsla(245, 75%, 52%, 0.678);
}

.cancel {
    margin: 12px 0;
    background-color: transparent;
}
a.cancel:hover {
    color: rgb(88, 88, 88);
}











.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}